body {
    font-family: Open Sans,Arial,sans-serif;;
}

.header {
    background-color: rgb(243, 235, 235);
    height: 80px;
    width: auto;
}

.header-logo {
    height: 80px;
    float: left;
    padding: 0px 100px;
}

li {
    list-style: none;
}

ul {
    padding: 0px 30px;
}

.header-list li {
    float: right;
    padding: 33px 20px;
}

.dev h1 {
    color: coral;
    font-size: 40px;
}

.home {
    background-color: #f1dbdb;
    height: 500px;
    padding: 40px;
}

.sample-home {
    float: left;
    height: 400px;
    padding: auto 40px;
}

.dev {
    float: right;
    font-size: 15px;
    padding: 50px;
}

.blog {
    background-color: #ffffff;
    height: 500px;
    padding: 40px;
    margin-top: 50px;
}

.blog-1 {
    height: 400px;
    float: left;
    margin-right: 40px;
    opacity: 0.75;
}

.review {
    background-color: cornsilk;
    height: 500px;
    margin-top: 50px;
    padding: 30px;
}

.review-book {
    height: 350px;
    float: left;
    padding: auto 30px;
}

.review1 {
    float: left;
    font-size: 15px;
    margin-left: 30px;
}

.title {
    font-size: 50px;
    color: coral;
}

.footer {
    background-color: #043c61;
    color: #fff;
    height: 30px;
    margin-top: 40px;
    text-align: center;
}
